<div class="white clearfix large-12">
	<div class="aling-center large-5 medium-8 small-11">
		<div class="left logo large-6 medium-6 small-6">
			<img src="/images/hackathon-logo.png" alt="Hackathon Feevale" />
		</div>
		
		<div class="right large-4 medium-4 small-4 text-top">
			<p>
				<span>6 de junho</span>
				<span>a partir das 21h</span>
				<span>na Blend Coworking</span>
				<span>Novo Hamburgo/RS</span>
			</p>                       
		</div>
	</div>        
</div>