<div class="contain-to-grid sticky hide-for-small-only">
	<nav class="top-bar" data-topbar>
		<section class="top-bar-section" data-magellan-expedition="">
			<ul>
				<li data-magellan-arrival="cronograma" class>
					<a href="#cronograma">Evento / Cronograma</a>
				</li>
				<li data-magellan-arrival="regulamento" class>
					<a href="#regulamento">Regulamento</a>
				</li>
				<li data-magellan-arrival="inscricoes" class>
					<a href="#inscricoes" >Inscrições</a>
				</li>
			</ul>
		</section>
	</nav>
</div>