 <div id="confirm-registration" class="reveal-modal" data-reveal>
	<h2>Quase acabando!</h2>
	<p class="lead">Enviaremos os dados de deposito para o seu email. Para sua inscrição ser confirmada, o deposito, no valor de R$ 30,00, deverá ser efetuado, e o recibo enviado para financeiro@dac-feevale.com.br</p>

	<p>
		<a href="javascript:void(0);" id="cancel-registration" class="default-button button right">Cancelar Inscrição</a>
		<a href="javascript:void(0);" id="submit-registration" class="default-button button right">Continuar o envio</a>
	</p>
	
	<p class="loading right" style="display: none;">
		<span>Carregando...</span>
	</p>
</div>

 <div id="registration-sucess" class="reveal-modal" data-reveal>
	<h2>Inscrição realizada com sucesso!</h2>
	<a class="close-reveal-modal">&#215;</a>
</div>