<div id="inscricoes" class="large-12 clearfix field field-padding yellow">
	<h2 class="title-green aling-center large-6 medium-8 small-11">Inscreva-se!</h2>

	<form class="large-6 medium-8 small-11 aling-center" data-abide>
		<div data-alert id="registration-error" class="alert-box alert radius" style="display: none;">
			Não foi possível realizar sua inscrição agora, tente novamente mais tarde.
		</div>

		<fieldset>
			<legend>PESSOAL</legend>
			<div class="row">
				<div class="large-12 columns">
					<label for="name">
						<span class="show-for-touch">Nome</span>
						<input type="text" id="name" name="name" placeholder="Nome" required />
					</label>
					<small class="error">Informe seu nome.</small>
				</div>
			</div>
			<div class="row">
				<div class="large-6 medium-6 small-12 columns">
					<label for="cpf">
						<input type="text" id="cpf" name="cpf" placeholder="CPF" required data-abide-validator="cpf"/>
					</label>
					<small class="error">Informe um CPF válido.</small>
				</div>
				<div class="large-6 medium-6 small-12 columns">
					<label for="bornDate">
						<input type="text" id="bornDate" name="bornDate" placeholder="Nascimento" required pattern="date"/>
					</label>
					<small class="error">informe uma data válida.</small>
				</div>
			</div>
			<div class="row">
				<div class="large-6 medium-6 small-12 columns">
					<labe for="rg">
						<input type="text" id="rg" name="rg" placeholder="RG" required />
					</label>
					<small class="error">Informe seu RG.</small>
				</div>
				<div class="large-6 medium-6 small-12 columns">
					<label for="feevaleCode">
						<input type="text" id="feevaleCode" name="feevaleCode" placeholder="Matricula" required />
					</label>
					<small class="error">Informe seu código de matrícula.</small>
				</div>
			</div>
			<div class="row">
				<div class="large-12 small-12 columns">
					<label for="course">
						<select id="course" name="course" required>
							<option value>Curso</option>
							<option value="Ciências da Computação">Ciências da Computação</option>
							<option value="Design">Design</option>
							<option value="Licenciatura em Computação">Licenciatura em Computação</option>
							<option value="Sistemas de Informação">Sistemas de Informação</option>
							<option value="Sistemas para Internet">Sistemas para Internet</option>
						</select>
					</label>
					<small class="error">Informe seu curso.</small>
				</div>
			</div>
		</fieldset>
	
		<fieldset>
			<legend>CONTATO</legend>
			<div class="row">
				<div class="large-12 small-12 columns">
					<label for="email">
						<input type="email" id="email" name="email" placeholder="Email" required />
					</label>
					<small class="error">Informe um endereço de email válido.</small>
				</div>
			</div>
			<div class="row">
				<div class="large-4 medium-4 small-12 columns">
					<label for="phone">
						<input type="text" id="phone" name="phone" placeholder="Telefone" required />
					</label>
					<small class="error">Informe seu telefone.</small>
				</div>
				<div class="large-8 medium-8 small-12 columns">
					<label for="facebook">
						<input type="text" id="facebook" placeholder="Facebook" />
					</label>
				</div>
			</div>
		</fieldset>
		
		<fieldset>
			<legend>EVENTO</legend>
			<div class="row">
				<div class="large-12 small-12 columns">
					<input id="transport" name="transport" type="checkbox" value="true">
						<label for="transport">Precisa de transporte? (Transporte somente de ida, Feevale - Blend)</label>
				</div>
			</div>
			<div class="row">
				<div class="large-12 small-12 columns">
					<input id="notebook" name="notebook" type="checkbox" value="true">
					<label for="notebook">Consegue levar notebook? (Infelizmente o local não disponibiliza computadores)</label>
				</div>
			</div>
			<div class="row">
				<div class="large-12 small-12 columns">
					<label>Vamos ter pizza, por favor informe sua preferencia =)</label>
					<label>(se tu for uma pessoa fresca e quiser levar outra coisa, lá tem micro-ondas)</label>
						
					<br />
						
					<input id="mussarela" name="pizzas[]" type="checkbox" value="mussarela">
					<label for="mussarela">Mussarela</label>
						
					<input id="calabresa" name="pizzas[]" type="checkbox" value="calabresa">
					<label for="calabresa">Calabresa</label>
							
					<input id="atum" name="pizzas[]" type="checkbox" value="atum">
					<label for="atum">Atum</label>
							
					<input id="brocolis" name="pizzas[]" type="checkbox" value="brocolis">
					<label for="brocolis">Brócolis</label>
							
					<input id="frango-catupiry" name="pizzas[]" type="checkbox" value="frango-catupiry">
					<label for="frango-catupiry">Frango com Catupiry</label>
				</div>
			</div>
		</fieldset>

		<button type="submit" class="button right">Terminar Inscrição</button>
	</form>
</div>