<div id="inscricoes" class="large-12 clearfix field field-padding yellow">
	<h2 class="title-green aling-center large-6 medium-8 small-11">Inscreva-se!</h2>
			
	<form class="large-6 medium-8 small-11 aling-center">
		<fieldset>
			<legend>PESSOAL</legend>
			<div class="row">
				<div class="large-12 columns">
					<label>
						<span class="show-for-touch">Nome</span>
						<input type="text" id="name" name="name" placeholder="Nome"/>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="large-6 medium-6 small-12 columns">
					<label>
						<input type="text" id="cpf" name="cpf" placeholder="CPF" />
					</label>
				</div>
				<div class="large-6 medium-6 small-12 columns">
					<label>
						<input type="text" id="bornDate" name="bornDate" placeholder="Nascimento" />
					</label>
				</div>
			</div>
			<div class="row">
				<div class="large-6 medium-6 small-12 columns">
					<label>
						<input type="text" id="rg" name="rg" placeholder="RG" />
					</label>
				</div>
				<div class="large-6 medium-6 small-12 columns">
					<label>
						<input type="text" id="feevaleCode" name="feevaleCode" placeholder="Matricula" />
					</label>
				</div>
			</div>
			<div class="row">
				<div class="large-12 small-12 columns">
					<label>
						<select id="course" name="course">
							<option value="">Curso</option>
							<option value="Ciências da Computação">Ciências da Computação</option>
							<option value="Design">Design</option>
							<option value="Licenciatura em Computação">Licenciatura em Computação</option>
							<option value="Sistemas de Informação">Sistemas de Informação</option>
							<option value="Sistemas para Internet">Sistemas para Internet</option>
						</select>
					</label>
				</div>
			</div>
		</fieldset>
	
		<fieldset>
			<legend>CONTATO</legend>
			<div class="row">
				<div class="large-12 small-12 columns">
					<label>
						<input type="email" id="email" name="email" placeholder="Email" />
					</label>
				</div>
			</div>
			<div class="row">
				<div class="large-4 medium-4 small-12 columns">
					<label>
						<input type="text" id="phone" name="phone" placeholder="Telefone" />
					</label>
				</div>
				<div class="large-8 medium-8 small-12 columns">
					<label>
						<input type="text" placeholder="Facebook" />
					</label>
				</div>
			</div>
		</fieldset>
		
		<fieldset>
			<legend>EVENTO</legend>
			<div class="row">
				<div class="large-12 small-12 columns">
					<input id="checkbox1" type="checkbox">
						<label for="checkbox1">Precisa de transporte? (Transporte somente de ida, Feevale - Blend)</label>
				</div>
			</div>
			<div class="row">
				<div class="large-12 small-12 columns">
					<input id="checkbox2" type="checkbox">
					<label for="checkbox2">Consegue levar notebook? (Infelizmente o local não disponibiliza computadores)</label>
				</div>
			</div>
			<div class="row">
				<div class="large-12 small-12 columns">
					<label>Vamos ter pizza, por favor informe sua preferencia =)</label>
					<label>(se tu for uma pessoa fresca e quiser levar outra coisa, lá tem micro-ondas)</label>
						
					<br />
						
					<input id="checkbox3" type="checkbox">
					<label for="checkbox3">Mussarela</label>
						
					<input id="checkbox4" type="checkbox">
					<label for="checkbox4">Calabresa</label>
							
					<input id="checkbox5" type="checkbox">
					<label for="checkbox5">Atum</label>
							
					<input id="checkbox6" type="checkbox">
					<label for="checkbox6">Brócolis</label>
							
					<input id="checkbox7" type="checkbox">
					<label for="checkbox7">Frango com Catupiry</label>
				</div>
			</div>
		</fieldset>
				
		<a href="#" data-reveal-id="confirm" class="button right">Terminar Inscrição</a>
				
	</form>
</div>