<div id="regulamento" class="large-12 clearfix field field-padding green">
	<div class="large-8 medium-10 small-11 aling-center">
		<h2>REGULAMENTO</h2>
				
		<ol>
			<div class="large-5 medium-5 left">
				<li>O evento ocorrerá na Blend Coworking, das 21:30 às 07:00. A participação é restrita a alunos da Universidade Feevale, devidamente matriculados nos seguintes cursos de graduação
					<ul>
						<li>Ciências da Computação</li>
						<li>Design</li>
						<li>Licenciatura em Computação</li>
						<li>Sistemas de Informação</li>
						<li>Sistemas para Internet</li>
					</ul>
				</li>
				<li>O evento contará com 30 vagas, sendo 10 para designers e 20 para programadores.</li>
				<li>A inscrição deverá ser efetuada através do site http://hackathon.dac-feevale.com.br, a inscrição só será confirmada após a confirmação de deposito.</li>
				<li>Não efetuaremos a restituição do valor pago em caso de desistência.</li>
			</div>
			<div class="large-5 medium-5 right">
				<li>O certificado de participação será enviado por email após o evento. Só receberá o certificado o inscrito que estiver presente no evento.</li>
				<li>É obrigatória a apresentação da carteirinha da Feevale, e documento de identidade (RG, carteira de motorista ou carteira de trabalho).</li>
				<li>O valor de R$ 30,00 reais inclui: 
					<ul>
						<li>Lanche = Pizza + Refrigerante</li>
						<li>Café &lt;3 </li>
						<li>Entrada no evento + Transporte = Feevale -> Blend</li>
					</ul>
					O consumo de bebidas do local não está incluso.
				</li>
				<li>Forneceremos apenas o transporte de ida, é necessário confirmar o transporte durante a inscrição, pois solicitaremos um transporte de acordo como o numero de requisições.</li>
			</div>
		</ol>
	</div>
</div>