<div id="cronograma" class="large-12 clearfix field field-padding yellow">
	<div class="aling-center large-8 medium-10 small-11">
		<div class="large-6 medium-6 small-11 left">
			<h2 class="title-green">UM TITULO CHAMATIVO</h2>
			<p>Um texto legal sobre o evento.</p>
		</div>
		<div class="large-3 medium-3 small-11 right">
			<h3>CRONOGRAMA</h3>
					
			<ul>
				<li>21:00 - Encontro na Feevale</li>
				<li>21:30 - Saída da Feevale</li>
				<li>22:00 - Inicio do evento - Apresentação da metodologia</li>
				<li>21:40 - Apresentação Problema/Projeto</li>
				<li>23:35 - Inicio desenvolvimento</li>
				<li>01:00 - Long Break - Pizza =)</li>
				<li>02:00 - Retorna desenvolvimento (Possivel realizar paradas para lanche)</li>
				<li>06:20 - Retrospectiva </li>
				<li>07:00 - Termino evento</li>
			</ul>
		</div>
	</div>
</div>