<div id="cronograma" class="large-12 clearfix field field-padding yellow">
	<div class="aling-center large-8 medium-10 small-11">
		<div class="large-6 medium-6 small-11 left">
			<h2 class="title-green">HACKATHON!</h2>
                    
			<p>Uma proposta diferente e ousada de desenvolvimento.</p>
			<p>Estudantes de Design e Programação tem a oportunidade de trabalhar em conjunto para desenvolver um aplicativo/sistema. Um momento para trocar ideias, experiências e conhecer mais sobre algumas práticas que estão se tornando cada vez mais frequentes na área, como uso de metodologia ágil e trabalho em equipe. Em um ambiente descontraído com horário alternativo o objetivo é compartilhar conhecimento. Let's Go!.</p>
		</div>
		<div class="large-3 medium-3 small-11 right">
			<h3>CRONOGRAMA</h3>
					
			<ul>
				<li>21:00 - Encontro na Feevale</li>
				<li>21:30 - Saída da Feevale</li>
				<li>22:00 - Início do evento - Apresentação da metodologia</li>
				<li>21:40 - Apresentação Problema/Projeto</li>
				<li>23:35 - Início desenvolvimento</li>
				<li>01:00 - Long Break =)</li>
				<li>02:00 - Retorno desenvolvimento (Haverão breves paradas para lanche)</li>
				<li>06:20 - Retrospectiva </li>
				<li>07:00 - Término evento</li>
			</ul>
		</div>
	</div>
</div>