<h3>Obrigado por se inscrever no Hackathon Feevale de 2014</h3>
<p>Para completar sua inscrição, você precisa realizar o deposito no valor de R$ 30,00 na CONTA e AGENCIA.</p>
<p>Você tem até dois dias (a partir da data desse email) para realizar o pagamento, caso contrário sua inscrição será cancelada e você precisará realizar uma nova inscrição</p>

<p><b>Após realizar o depósito, é NECESSÁRIO enviar o comprovante para o email financeiro@dac-feevale.com.br</b></p>
<br/>

<p>
	<b>Observação</b>: Existe uma chance do número de vagas já ter sido preenchido. Mas se isso acontecer, vamos avisa-lo por email.
	<br/>
	Caso você já tiver realizado o depósito, fique tranquilo, nesse caso nós realizaremos a devolução para você.
</p>

<p>
	Agradecemos novamente a inscrição, e te desejamos um ótimo evento.
</p>